/****************************
	LOGO
*****************************/
.logoSite{
	max-width: 200px;
}
.listBtn{
	background: url(../images/list.png) no-repeat center center;
	margin-right: 0px;
	width: 40px;
	height: 40px;
}
.socialP{
	width: 40px;
	height: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	-webkit-box-shadow: inset 0 0 1px 20px rgba(0,0,0,0.6), inset 0 0 0 0px #000000;
	-moz-box-shadow: inset 0 0 1px 20px rgba(0,0,0,0.6), inset 0 0 0 0px #000000;
	box-shadow: inset 0 0 1px 20px rgba(0,0,0,0.6), inset 0 0 0 0px #000000;
	-webkit-transition: box-shadow 400ms ease-in-out;
	-moz-transition: box-shadow 400ms ease-in-out;
	-o-transition: box-shadow 400ms ease-in-out;
	-ms-transition: box-shadow 400ms ease-in-out;
	transition: box-shadow 400ms ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	display: block;
	outline: none;
	cursor: pointer;
	/*margin-right: 50px;*/
}
.socialP:hover{
	   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6) inset, 0px 0px 0px 2px rgb(0, 0, 0) inset, 0px 0px 2px rgba(0, 0, 0, 0.3);
}

/*Contenitori Master*/
.headerDivTop{
	width: 		95%;	
	position: 	relative;
	left:		2%;
	/*background-color: yellow;*/
}
/*Contenitori Master*/

/*Contenitori Header*/
.headerLevel1{
	width: 100%;
	height: 50%;
	margin-bottom: 10px;
}
.headerSocialDiv{	
	height: 76px;
}
.headerLevel2{
	width: 100%;
	height: 50%;
	margin-bottom: 10px;
}
/*Contenitori Header*/

/*Sotto Contenitori Header*/
.headerTitleDiv{	
	height: 100%;
	float:	left;
	/*background-color: white;*/
}
.headerPagesDiv{	
	height: 100%;
	float: 	right;
	/*background-color: blue;*/
}
.headerCategoriesDiv{	
	height: 100%;
	float: 	left;
	/*background-color: black;*/
}
/*Sotto Contenitori Header*/

/*Header effetto scroll*/
.headerScroll{	
	position: 			fixed !important;	
	background: 		rgba(0, 0, 0, 0.7);
	z-index: 			10;
	width:				100%;
	min-width: 			1020px;
	display:			none;
	top:				0;
	/*ombra nera*/
	-webkit-box-shadow: 0px 4px 9px 3px rgba(0,0,0,0.81);
	-moz-box-shadow: 	0px 4px 9px 3px rgba(0,0,0,0.81);
	box-shadow: 		0px 4px 9px 3px rgba(0,0,0,0.81);
}
/*Header effetto scroll*/

/*Reali*/
.headerPages{	
	float: 	right;
}
.headerLevel2 a{
	padding: 		15px !important;
	border-radius: 	50px !important;
	font-size: 		30px;
	text-transform: uppercase;	
	font-family: 	Impact, Charcoal, sans-serif;
	font-weight: 	normal;
	color:			#9397A3;
	text-shadow: 	1px 1px 0px #646464;	
}
.headerLevel2 a:hover{
	background: none !important;
	text-decoration: none;
	color:			#7B88CC;	
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;
}
.current_page_item a{
	/*background: none repeat scroll 0% 0% rgb(51, 51, 51);*/
	color: white;
}
.headerPagesDiv li{
	list-style: none;
	float: left;
}
.headerPagesUl{
	list-style: none;
	float: right;
	/*margin-top: 25px;*/
}
.headerCategoriesDiv li{
	list-style: none;
	float: left;
}
.headerCategoriesUl{
	list-style: none;
	float: left;
	/*margin-top: 25px;*/
}