.imageArticle {
	-webkit-box-shadow: 5px 3px 9px rgba(0, 0, 0, 1);
	-moz-box-shadow: 5px 3px 9px rgba(0, 0, 0, 1);
	box-shadow: 5px 3px 9px rgba(0, 0, 0, 1);
}
.imgDiv .leftDiv:hover .leftArrowP{
	opacity: 0.8;
}
.imgDiv .rightDiv:hover .rightArrowP{
	opacity: 0.8;
}
.imgDiv:hover .rightArrowP{
	opacity: 0.3;
}
.imgDiv:hover .leftArrowP{
	opacity: 0.3;
}
.leftArrowP{
	float: left;
	/*margin-top: 50%;*/
	opacity: 0;
}
.rightArrowP{
	float: right;
	/*margin-top: 50%;*/
	opacity: 0;
}
.leftArrowImg{
	float: left;
	width: 50%;
}
.rightArrowImg{
	float: right;
	width: 50%;
}
