/****************************
	TITOLO SINGLE
*****************************/
.titleArticleDiv{
	text-align: 	center;
}
.titleArticleP{
	padding: 		15px !important;
	border-radius: 	50px !important;
	font-size: 		30px;
	line-height: 	30px;
	text-transform: uppercase;
	font-family: 	Impact, Charcoal, sans-serif;	
	color: 			#000000;
	text-shadow: 	1px 1px 0px #FFFFFF;
}
/****************************
	CONTENT SINGLE
*****************************/
.contentArticleDiv{
	width: 			950px;
	margin: 		auto;
	margin-top: 	50px;
	margin-bottom: 	50px;
	word-wrap: 		break-word;
}
/****************************
	COPERTINA SINGLE
*****************************/
.imageArticle {
	max-width: 			950px;
	width: 				100%;
	/*ombra nera*/
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,1);
	-moz-box-shadow: 	0px 0px 3px 2px rgba(0,0,0,1);
	box-shadow: 		0px 0px 3px 2px rgba(0,0,0,1);
	border-radius: 		7px;	
}
.imgDiv{		
	margin: 	auto;
	text-align: center;
}
/****************************
	PAGINATION SINGLE
*****************************/
.gridster{	
	width:960px;
	margin: auto;
}
.gridster img{	
	width: 100%;
	height: 100%;
	/*ombra nera*/
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,1);
	-moz-box-shadow: 	0px 0px 3px 2px rgba(0,0,0,1);
	box-shadow: 		0px 0px 3px 2px rgba(0,0,0,1);
	border-radius: 		7px;	
}
/****************************
	NAVIGATION SINGLE
*****************************/
.leftDiv{
	position:	fixed; 
	left: 		0px; 
	z-index: 	10; 
	top: 		50%;
}
.rightDiv{
	position:	fixed; 
	right: 		0px; 
	z-index: 	10; 
	top: 		50%;
}
.leftArrowP{
	float: left;	
	
	transform: 			translate(-50px,0px);
	-ms-transform: 		translate(-50px,0px); 
	-webkit-transform: 	translate(-50px,0px); 
	-o-transform: 		translate(-50px,0px); 
	-moz-transform: 	translate(-50px,0px); 
	
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;
	
}
.rightArrowP{
	float: right;
	
	transform: 			translate(+50px,0px);
	-ms-transform: 		translate(+50px,0px); 
	-webkit-transform: 	translate(+50px,0px); 
	-o-transform: 		translate(+50px,0px); 
	-moz-transform: 	translate(+50px,0px); 
	
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;
}
.rightArrowP img{
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;	
}

.leftArrowP img{		
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;	
}

.rightArrowP:hover img{
	opacity: 0.3;
	/*movimento*/
	transform: 			translate(30px,0px);
	-ms-transform: 		translate(30px,0px); 
	-webkit-transform: 	translate(30px,0px); 
	-o-transform: 		translate(30px,0px); 
	-moz-transform: 	translate(30px,0px); 
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;	
}
.leftArrowP:hover img{
	opacity: 0.3;
	/*movimento*/
	transform: 			translate(-30px,0px);
	-ms-transform: 		translate(-30px,0px); 
	-webkit-transform: 	translate(-30px,0px); 
	-o-transform: 		translate(-30px,0px); 
	-moz-transform: 	translate(-30px,0px); 
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;	
}

.leftArrowImg{
	float: left;
	width: 50%;
}
.rightArrowImg{
	float: right;
	width: 50%;
}
/****************************
	BOTTOM BUTTON
*****************************/
.conteinerButtonBottom{
	width:950px; 
	margin: auto;
}
/****************************
	RETURN MENU SINGLE
*****************************/
.returnMenuDiv{
	width: 50%;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;	
	z-index: 1;
}
.menuUl{
	margin: 0px 0px 0px 0px !important;
	float: right;
}
.menuBtn{
	background: url(../images/menu.png) no-repeat center center;
	margin-right: 0px;
	width: 40px;
	height: 40px;
}