/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

#photosx{
	width: 			89%;
	margin-left:	2%;
	margin-right:	0%;
	margin-top: 	10px;
}

.colonnaPhoto{
	width: 24%;
	height: auto;
	float: left;	
}
.colonnaPhotoFinal{
	width: 48%;
	height: auto;
	float: left;
	margin:0.2%;
}
.imageCella{		
	opacity: 			1;	
	background-color: 	black;
	width: 				100%;
	height: 			auto;
	border-radius: 		7px;
}
.imageCella img {
	opacity: 			0.7;
	width: 				100%;
	height: 			auto;
   -webkit-transition: 	all 0.1s ease-in;
   -moz-transition: 	all 0.1s ease-in;
   -o-transition: 		all 0.1s ease-in;
   -ms-transition: 		all 0.1s ease-in;
   transition: 			all 0.1s ease-in;
   
   /*obbligatorio se no crhome sbrocca*/
   border:1px solid transparent;
}

.imageCella:hover img {   
	opacity:					1;
	-webkit-transition-delay: 	0.1s;
	-moz-transition-delay: 		0.1s;
	-o-transition-delay: 		0.1s;
	-ms-transition-delay: 		0.1s;
	transition-delay: 			0.1s;
	
   /*obbligatorio se no crhome sbrocca*/
   border:1px solid transparent;
}

.image{
	width: 100%;
	height:100%;
	/*margin-bottom: -1%;*/
	margin-bottom: -6px;
	margin-left: -1px;
	margin-top: -1px;
	/*position: absolute;*/
	/*overflow: hidden;*/
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,1);
	-moz-box-shadow: 	0px 0px 3px 2px rgba(0,0,0,1);
	box-shadow: 		0px 0px 3px 2px rgba(0,0,0,1);
	border-radius: 		7px;
}

.loadit{
	background:		url("../images/ajaxload.gif") no-repeat scroll center center black;
	margin-left: 	auto;
	margin-right: 	auto;
}

.tornaSu {
	display: none;
	position: fixed; 
	top: 80%;
	left:92%;
	width: 6%;
	height: auto;
}

.tornaSu  img{
	opacity:0.5;
}

.tornaSu :hover img{
	opacity:1;
}

.loading{
	width: 100%;
	text-align: center;
}
.inifiniteLoaderUp{
	display: none;
}
.inifiniteLoaderDown{
	display: none;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}