#header{
	height:150px;
}

/*Contenitori Master*/
.headerDivTop{
	width: 		95%;
	height: 	100%;
	position: 	relative;
	left:		2%;
	/*background-color: yellow;*/
}
/*Contenitori Master*/

/*Contenitori Header*/
.headerLevel1{
	width: 100%;
	height: 25%;
}
.headerLevel2{
	width: 100%;
	height: 75%;
}
/*Contenitori Header*/

/*Sotto Contenitori Header*/
.headerTitleDiv{
	width:	100%;
	height: 100%;
	float:	left;
	/*background-color: white;*/
}
.headerPagesDiv{
	width:		50%;
	height: 	100%;
	float: 		right;
	text-align: right;
	/*background-color: blue;*/
}
.headerCategoriesDiv{
	width:	50%;
	height: 100%;
	float: 	left;
	/*background-color: black;*/
}
/*Sotto Contenitori Header*/

/*Header effetto scroll*/
.headerScroll{	
	position: 			fixed !important;	
	background: 		rgba(0, 0, 0, 0.7);
	z-index: 			10;
	width:				100%;
	min-width: 			1020px;
	display:			none;
	top:				0;
	/*ombra nera*/
	-webkit-box-shadow: 0px 4px 9px 3px rgba(0,0,0,0.81);
	-moz-box-shadow: 	0px 4px 9px 3px rgba(0,0,0,0.81);
	box-shadow: 		0px 4px 9px 3px rgba(0,0,0,0.81);
}
/*Header effetto scroll*/

/*Reali*/
.headerPages{	
	float: 	right;
}
.headerLevel2 a{	
	font-size: 		20px;
	text-transform: uppercase;		
	font-weight: 	normal;
	color:			#9397A3;
}
.headerLevel2 a:hover{
	background: 	 none !important;
	text-decoration: none;
	color:			 #7B88CC;
	/*color:			#AE94CE;*/	
	/*tempo*/
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition:	all 0.4s ease-in-out;
    -o-transition: 		all 0.4s ease-in-out;
    transition: 		all 0.4s ease-in-out;
}
.current_page_item a{
	/*background: none repeat scroll 0% 0% rgb(51, 51, 51);*/
	color: white;
}
.headerPagesDiv li{
	list-style: none;
}
.headerPagesUl{
	list-style: none;
	float: right;
	margin: 1em 0 0 0;
}
.headerCategoriesDiv li{
	list-style: none;	
}
.headerCategoriesUl{
	list-style: none;
	float: left;
	margin: 1em 0 0 0px;
}