.titleArticleDiv{
	text-align: center;
}
.titleArticleP{
	padding: 15px !important;
	border-radius: 50px !important;
	font-size: 30px;
	text-transform: uppercase;
	font-family: Impact, Charcoal, sans-serif;	
	color: #000000;
}
.contentArticleDiv{
	width: 90%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	word-wrap: break-word;
}

.imageArticle {
	/*ombra nera*/
	-webkit-box-shadow: 0px 0px 33px 1px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 33px 1px rgba(0,0,0,1);
	box-shadow: 0px 0px 33px 1px rgba(0,0,0,1);
}
.imageArticle {
	/*ombra nera*/
	-webkit-box-shadow: 0px 0px 33px 1px rgba(0,0,0,1);
	-moz-box-shadow: 	0px 0px 33px 1px rgba(0,0,0,1);
	box-shadow: 		0px 0px 33px 1px rgba(0,0,0,1);
}
.imgDiv{
	margin-top: 	15px;	
	margin-bottom: 	15px;	
}
.leftArrowP{
	float: 				left;
	/*margin-top: 50%;*/
	opacity: 			0.7;
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;
}
.rightArrowP{
	float: 				right;
	/*margin-top: 50%;*/
	opacity: 			0.7;
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;
}
.leftArrowImg{
	float: left;
	width: 50%;
}
.rightArrowImg{
	float: right;
	width: 50%;
}

/*Menu*/
.returnMenuDiv{
	width: 50%;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;	
}
.menuUl{
	margin: 0px 0px 0px 0px !important;
	float: right;
}
.menuBtn{
	background: url(../images/menu.png) no-repeat center center;
	margin-right: 0px;
	width: 40px;
	height: 40px;
}

/*Social*/
.socialDiv{
	margin-top: 20px;
	margin-bottom: 10px;
	width: 50%;	
	float: left;
}
.socialLi{
	float: left;
	list-style: none;
	margin-right: 10px;
}
.social_facebook{
	background: url(../images/social/facebook-circle.png) no-repeat center center;
	margin-right: 0px;
	height: 40px;
	width: 40px;
}
.social_google_plus{
	background: url(../images/social/google-plus-circle.png) no-repeat center center;
	margin-right: 0px;
}
.social_tumblr{
	background: url(../images/social/tumblr-circle.png) no-repeat center center;
	margin-right: 0px;
}
.social_twitter{
	background: url(../images/social/twitter-circle.png) no-repeat center center;
	margin-right: 0px;
}

