/****************************
	TITOLO SINGLE
*****************************/
.titleArticleDiv{
	text-align: center;
}
.titleArticleP{
	padding: 		15px !important;
	border-radius: 	50px !important;
	font-size: 		30px;
	line-height: 	30px;
	text-transform: uppercase;
	font-family: 	Impact, Charcoal, sans-serif;	
	color: 			#000000;
	text-shadow: 	1px 1px 0px #FFFFFF;
}
/****************************
	CONTENT SINGLE
*****************************/
.contentArticleDiv{
	width: 			950px;
	margin: 		auto;
	margin-top: 	50px;
	margin-bottom: 	50px;
	word-wrap: 		break-word;
}
/****************************
	COPERTINA SINGLE
*****************************/
.imageArticle {
	/*width: 				100%;*/
	/*ombra nera*/
	-webkit-box-shadow: 0px 0px 33px 1px rgba(0,0,0,1);
	-moz-box-shadow: 	0px 0px 33px 1px rgba(0,0,0,1);
	box-shadow: 		0px 0px 33px 1px rgba(0,0,0,1);
}
.imgDiv{
	width: 		98%;	
	margin: 	auto;
	text-align: center;
}
.imgDiv img{
	width: 100%;
}
/****************************
	NAVIGATION SINGLE
*****************************/
.leftDiv{
	position:	fixed; 
	left: 		0px; 
	z-index: 	10; 
	top: 		50%;
}
.rightDiv{
	position:	fixed; 
	right: 		0px; 
	z-index: 	10; 
	top: 		50%;
}
.leftArrowP{
	float: left;	
	
	transform: 			translate(-50px,0px);
	-ms-transform: 		translate(-50px,0px); 
	-webkit-transform: 	translate(-50px,0px); 
	-o-transform: 		translate(-50px,0px); 
	-moz-transform: 	translate(-50px,0px); 
	
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;
	
}
.rightArrowP{
	float: right;
	
	transform: 			translate(+50px,0px);
	-ms-transform: 		translate(+50px,0px); 
	-webkit-transform: 	translate(+50px,0px); 
	-o-transform: 		translate(+50px,0px); 
	-moz-transform: 	translate(+50px,0px); 
	
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;
}
.leftArrowImg{
	float: left;
	width: 50%;
}
.rightArrowImg{
	float: right;
	width: 50%;
}
.rightArrowP img{
	z-index: 100;
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;	
}
.leftArrowP img{		
	z-index: 100;
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;	
}
.rightArrowP:hover img{
	opacity: 0.3;
	/*movimento*/
	transform: 			translate(30px,0px);
	-ms-transform: 		translate(30px,0px); 
	-webkit-transform: 	translate(30px,0px); 
	-o-transform: 		translate(30px,0px); 
	-moz-transform: 	translate(30px,0px); 
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;	
}
.leftArrowP:hover img{
	opacity: 0.3;
	/*movimento*/
	transform: 			translate(-30px,0px);
	-ms-transform: 		translate(-30px,0px); 
	-webkit-transform: 	translate(-30px,0px); 
	-o-transform: 		translate(-30px,0px); 
	-moz-transform: 	translate(-30px,0px); 
	/*tempo*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition:	all 0.2s ease-in-out;
    -o-transition: 		all 0.2s ease-in-out;
    transition: 		all 0.2s ease-in-out;	
}
.leftArrowImg{
	float: left;
	width: 50%;
}
.rightArrowImg{
	float: right;
	width: 50%;
}
/****************************
	MENU BUTTON
*****************************/
.returnMenuDiv{
	width: 50%;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;	
}
.menuUl{
	margin: 0px 0px 0px 0px !important;
	float: right;
}
.menuBtn{
	background: url(../images/menu.png) no-repeat center center;
	margin-right: 0px;
	width: 40px;
	height: 40px;
}
/****************************
	SOCIAL BUTTON
*****************************/
.socialDiv{
	margin-top: 20px;
	margin-bottom: 10px;
	width: 50%;	
	float: left;
}
.socialLi{
	float: left;
	list-style: none;
	margin-right: 10px;
}
.social_facebook{
	background: url(../images/social/facebook-circle.png) no-repeat center center;
	margin-right: 0px;
	height: 40px;
	width: 40px;
}
.social_google_plus{
	background: url(../images/social/google-plus-circle.png) no-repeat center center;
	margin-right: 0px;
}
.social_tumblr{
	background: url(../images/social/tumblr-circle.png) no-repeat center center;
	margin-right: 0px;
}
.social_twitter{
	background: url(../images/social/twitter-circle.png) no-repeat center center;
	margin-right: 0px;
}