/*Social*/
.socialDiv{
	margin-top: 20px;
	margin-bottom: 10px;	
	float: left;
	z-index: 1;
	/*
	-webkit-animation: inRight 2s;
       -moz-animation: inRight 2s;
        -ms-animation: inRight 2s;
         -o-animation: inRight 2s;
            animation: inRight 2s;
	*/
}
.socialUl{
	margin: 0px 0px 0px 0px !important;
}
.socialLi{
	float: left;
	list-style: none;
	margin-right: 10px;
}
.socialP{
	width: 40px;
	height: 40px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	-webkit-box-shadow: inset 0 0 1px 20px rgba(0,0,0,0.6), inset 0 0 0 0px #000000;
	-moz-box-shadow: inset 0 0 1px 20px rgba(0,0,0,0.6), inset 0 0 0 0px #000000;
	box-shadow: inset 0 0 1px 20px rgba(0,0,0,0.6), inset 0 0 0 0px #000000;
	-webkit-transition: box-shadow 400ms ease-in-out;
	-moz-transition: box-shadow 400ms ease-in-out;
	-o-transition: box-shadow 400ms ease-in-out;
	-ms-transition: box-shadow 400ms ease-in-out;
	transition: box-shadow 400ms ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	display: block;
	outline: none;
	cursor: pointer;
	/*margin-right: 50px;*/
}
.socialP:hover{
	   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6) inset, 0px 0px 0px 2px rgb(0, 0, 0) inset, 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.social_facebook{
	background: url(../images/social/facebook-circle.png) no-repeat center center;
	margin-right: 0px;
	height: 40px;
	width: 40px;
}
.social_google_plus{
	background: url(../images/social/google-plus-circle.png) no-repeat center center;
	margin-right: 0px;
}
.social_tumblr{
	background: url(../images/social/tumblr-circle.png) no-repeat center center;
	margin-right: 0px;
}
.social_twitter{
	background: url(../images/social/twitter-circle.png) no-repeat center center;
	margin-right: 0px;
}
.social_pinterest{
	background: url(../images/social/pinterest-circle.png) no-repeat center center;
	margin-right: 0px;
}
