* { margin: 0; padding: 0; }
html, body {
  height: 100%;
  min-width: 1020px;
  background-color:	#B5B5B5;
}
body{
	border-top: 3px solid #9397A3;
}
#pagewrap{
	/*background-color:	#B5B5B5;*/
	/*background-image: url(../images/sfondo_4.jpg);*/
	/*background-image: url(../images/sfondo_3.png);*/
	background-repeat:no-repeat;
	background-size: 100%;
	background-attachment:fixed;
	min-height: 95%;
}
#header {
	position: relative;
	height: 130px;
	width: 100%;
	border-bottom: solid 1px #ccc;
}
#body{
	/*height: 70%;*/
	/*display: table;*/	
}
footer {
	background-color:	#B5B5B5;	
	padding-top: 4px;	
	clear: both;
	border-top: solid 1px #ccc;	
	bottom: 0;
	height: 4%;
	width: 100%;
}
