/****************************
	LOGO
*****************************/
.logoSite{
	max-width: 200px;
}
/****************************
	LISTA BUTTON (MENU)
*****************************/
.listBtn{
	background: url(../images/list.png) no-repeat center center;
	margin-right: 0px;
	width: 40px;
	height: 40px;
}
/****************************
	CONTENITORE HEADER MASTER
*****************************/
.headerDivTop{
	width: 		95%;	
	position: 	relative;
	left:		2%;	
}
/****************************
	SUB CONTENITORE HEADER 
*****************************/
.headerLevel1{
	width: 100%;
	height: 25%;
}
.headerSocialDiv{
	height: 62px;
}
.headerLevel2{
	width: 100%;
	height: 75%;
}
/****************************
	CONTENITORE TITOLO/LOGO 
*****************************/
.headerTitleDiv{
	height: 100%;
	float:	left;
}
/****************************
	CONTENITORE PAGINE 
*****************************/
.headerPagesDiv{
	width:		50%;
	height: 	100%;
	float: 		right;
	text-align: right;	
}
/****************************
	CONTENITORE CATEGORIE 
*****************************/
.headerCategoriesDiv{
	width:	50%;
	height: 100%;
	float: 	left;	
}
.headerLevel2 a{	
	font-size: 		20px;
	text-transform: uppercase;		
	font-weight: 	normal;
	color:			#9397A3;
}
.headerLevel2 a:hover{
	background: 	 	none !important;
	text-decoration: 	none;
	color:			 	#7B88CC;	
	/*tempo*/
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition:	all 0.4s ease-in-out;
    -o-transition: 		all 0.4s ease-in-out;
    transition: 		all 0.4s ease-in-out;
}
.current_page_item a{	
	color: white;
}
.headerPagesDiv li{
	list-style: none;
}
.headerPagesUl{	
	list-style: none;
	float: right;
	margin: 1em 0 0 0;
}
.headerCategoriesDiv li{
	list-style: none;	
}
.headerCategoriesUl{
	list-style: none;
	float: left;
	margin: 1em 0 0 0px;
}