* { margin: 0; padding: 0; }
html, body {
  height: 				 100%;
  background-color:		 #B5B5B5;
  /*background-image:		 url(../images/bg-velluto.png);*/
  background-attachment: fixed;
  /*
  background: url(../images/bg-velluto.png) 0 0 repeat, fixed;
  background: url(../images/noise_bg2.png) 0 0 repeat, radial-gradient(ellipse farthest-corner at center, #E2E1D1 10%, #696969 100%);*/
  
}
body{	
	border-top: 3px solid #9397A3;
}
#pagewrap{
	/*background-color:	#B5B5B5;*/
	/*background-image: url(../images/sfondo_4.jpg);*/
	/*background-image: url(../images/sfondo_3.png);*/
	background-repeat:no-repeat;
	background-size: 100%;
	background-attachment:fixed;
	min-height: 95%;
}
#header {
	position: relative;
	height: 130px;
	width: 100%;
	border-bottom: solid 1px #ccc;
}
#body{
	/*height: 70%;*/
	/*display: table;*/	
}
footer {	
	padding-top: 4px;	
	clear: both;
	border-top: solid 1px #ccc;	
	bottom: 0;	
	height: auto;
	width: 100%;
}
.loading img{
	padding: 6px;	
	background: rgba(0, 0, 0, 0.9);
	border-radius: 10px;	
}