.navPhone{	
	-webkit-transition	: all 0.2s ease-in;
	-webkit-transform	: translate3d(-356px, 0, 0);
		
	width: 356px;
	height: 100%;
	padding-bottom: 30%;
	/*background-color: #404247;*/
	background-image: url(../images/content_background.png);
	
		
	top: 0;	
	border-top: 3px solid #9397A3;
	z-index : 10;
	position:fixed;
    /*overflow-y:scroll;*/
    overflow-x:hidden;
		
	/*
	http://cssdeck.com/labs/css3-webkit-vertical-scrollbars/
	http://cssdeck.com/labs/css3-webkit-vertical-scrollbars/
	*/
}
@media screen and (max-width: 450px) {
	.navPhone{	
		-webkit-transform	: translate3d(-300px, 0, 0);		
		width: 300px;
	}
}
@media screen and (max-width: 360px) {
	.navPhone{	
		-webkit-transform	: translate3d(-280px, 0, 0);		
		width: 280px;
	}
}
@media screen and (max-width: 330px) {
	.navPhone{	
		-webkit-transform	: translate3d(-260px, 0, 0);		
		width: 260px;
	}
}
.navPhoneTop{
	height: 40px;
	padding: 8px;
	border-bottom: 1px solid #111;
}
.navPhoneContent{
	position: absolute;
	width: 100%;
}
.cancelBtn{
	background: url(../images/cancel.png) no-repeat center center;
	margin-right: 0px;
	width: 40px;
	height: 40px;
}
.menuRightCloseBtn{
	float: right;
}
.ulMobileNav{
	list-style: none;
	width: 100%;
	float: left;
	padding: 1em;
	border-top: 1px solid #333;
	border-bottom: 1px solid #111;
}

.ulMobileNav a{
	color: 	#9397A3;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight:bold;	
	line-height: 2em;
	text-shadow: 2px 2px 3px #000;
}

.ulMobileNav .current_page_item a{
	color: 	white;
}