/****************************
	LOGO
*****************************/
.logoSite{
	max-width: 200px;
}
/*
.listBtn{
	background: url(../images/list.png) no-repeat center center;
	margin-right: 0px;
	width: 40px;
	height: 40px;
}
*/
/****************************
	CONTENITORE HEADER MASTER
*****************************/
.headerDivTop{
	width: 		95%;	
	position: 	relative;
	left:		2%;	
}
/****************************
	SUB CONTENITORE HEADER 
*****************************/
.headerLevel1{
	width: 100%;
	height: 50%;
	margin-bottom: 10px;
}
.headerSocialDiv{	
	height: 76px;
}
.headerLevel2{
	width: 100%;
	height: 50%;
	margin-bottom: 10px;
}
.headerLevel2 ul li{
	display: inline-block;
}
@media screen and (max-width: 800px) {
	.listBtn{
		background:   url(../images/list.png) no-repeat center center;
		margin-right: 0px;
		width: 		  40px;
		height: 	  40px;
	}
	.headerCategoriesUl{
		display: 	none;
	}
	.headerPagesUl{
		display: 	none;
	}
	.headerLevel2 a{
		padding: 	0px!important;
	}
}
/****************************
	CONTENITORE TITOLO/LOGO 
*****************************/
.headerTitleDiv{	
	height: 100%;
	float:	left;	
}
/****************************
	CONTENITORE PAGINE 
*****************************/
.headerPages{	
	float: 	right;
}
.headerPagesDiv{	
	height: 100%;
	float: 	right;	
}
.headerPagesDiv li{
	list-style: none;
	float: left;
}
.headerPagesUl{
	list-style: none;
	float: right;	
}
/****************************
	CONTENITORE CATEGORIE 
*****************************/
.headerCategoriesDiv{	
	height: 100%;
	float: 	left;
}
.headerCategoriesDiv li{
	list-style: none;
	float: left;
}
.headerCategoriesUl{
	list-style: none;
	float: left;	
}
/****************************
	HEADER SCROLL 
*****************************/
.headerScroll{	
	position: 			fixed !important;	
	background: 		rgba(0, 0, 0, 0.7);
	z-index: 			10;
	width:				100%;
	min-width: 			1020px;
	display:			none;
	top:				0;
	/*ombra nera*/
	-webkit-box-shadow: 0px 4px 9px 3px rgba(0,0,0,0.81);
	-moz-box-shadow: 	0px 4px 9px 3px rgba(0,0,0,0.81);
	box-shadow: 		0px 4px 9px 3px rgba(0,0,0,0.81);
}
/****************************
	OVER THE TOP LOADING 
*****************************/
.overTheTop{
	background-color: 	currentcolor; 
	overflow: 			hidden;
	height: 			0px;
	text-align:			center;
	-webkit-box-shadow: inset 0px -4px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 	inset 0px -4px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 		inset 0px -4px 10px 0px rgba(0,0,0,0.75);
}
.overTheTopSpan{
	font-size: 		24px;
	vertical-align: -webkit-baseline-middle; 
	color: 			white;
	text-shadow: 	1px 1px 0px #000000;
}