/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
#pagewrap{
	background-color:grey;
}
#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   width:97%;
   margin-left:auto;
   margin-right:auto;
   -webkit-column-count: 4;
   -webkit-column-gap:   4px;
   -moz-column-count:    4;
   -moz-column-gap:      4px;
   column-count:         4;
   column-gap:           0px;
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.image{	
	opacity: 1;
	overflow: hidden;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
}
.image .color{	
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}
.image:hover {	
	/*opacity: 0.7;*/
}
.image .color:hover {	
	background-color: rgba(20,170,70, 0.7);
	opacity: 1;
	width: 100%;
	height: 100%;
	position: absolute;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}